<app-header></app-header>
<div class="container">
    <div class="component-list">
        <ul>
            <li>
                <div class="label">文本</div>
                <button
                    mat-raised-button
                    color="primary"
                    appDrag
                    componentType="label"
                >
                    <mat-icon>person</mat-icon>
                    拖拽
                </button>
            </li>
            <li>
                <div class="label">列表</div>
                <button
                        mat-raised-button
                        color="primary"
                        appDrag
                        componentType="list"
                >
                    <mat-icon>person</mat-icon>
                    拖拽
                </button>
            </li>
        </ul>

    </div>
    <div class="draw-area">
        <app-drag></app-drag>

    </div>

</div>
