.container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #333;
    min-height: 300px;
    display: flex;
    justify-content: flex-start;

    .component-list {
        border: 1px solid #333333;
        width: 200px;
        box-sizing: border-box;
        padding: 10px;
        border-radius: 4px;
        overflow: hidden;
        flex-basis: 200px;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                padding: 10px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                border-bottom: 1px solid #ccc;

                .label {
                    font-size: 18px;
                }

            }
        }
    }
    .draw-area{
        width: 100%;
        margin-left: 20px;
        border: 1px solid #999999;
        padding: 20px;


    }
}
