.main-component{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    .main-content{
        padding-top: 40px;
        min-height: 100%;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        app-left-side{
            width: 200px;
        }
        .content{
            padding: 0 40px;
        }
    }
}
