<form [formGroup]="form">
    <h3>常住人口登记</h3>
    <button mat-flat-button color="primary" (click)="addPeople()">添加常驻人口</button>
    <div formArrayName="peoples">
        <div *ngFor="let control of peoples.controls; let i = index">
            <ng-container [formGroupName]="i">
               <mat-form-field>
                   <mat-label>姓名</mat-label>
                   <input matInput formControlName="name" placeholder="请输入姓名"/>
               </mat-form-field>
                <mat-form-field>
                    <mat-label>手机</mat-label>
                    <input matInput formControlName="phone" placeholder="请输入手机号"/>
                </mat-form-field>
            </ng-container>
            <button mat-button color="warn" (click)="deletePeople(i)">删除</button>
        </div>
    </div>

    <button mat-flat-button color="primary" (click)="submit()">submit</button>

</form>
